.main{
    background: white;
    position: absolute;
    right: 35px;
    left: 35px;
    top: 80px;
}

body{
    background: #efefef;
}

.media-heading{
    font-weight: bold;
    font-size: 15px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color:#999;
    font-size: 15px;
}