<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid profile main">
    <div class="row">
        <!--左边栏-->
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr/>
            <!--我的问题-->
            <div class="col-lg-12 col-md-12 col-sm-12" th:if="${section == 'questions'}">
                <div class="media" th:each="page : ${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" width="45" th:src="${page.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${page.id}}" th:text="${page.title}"></a>
                        </h4>
                        <span class="text-desc"><span
                                th:text="${page.commentCount}"></span>个回复 • <span th:text="${page.viewCount}"></span>次浏览 • <span
                                th:text="${#dates.format(page.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>
            <!--通知-->
            <div class="col-lg-12 col-md-12 col-sm-12" th:if="${section == 'replies'}">
                <div th:each="page : ${pagination.data}" style="font-size: 25px;margin-bottom: 15px;">
                    <span style="font-weight: bold;" th:text="${page.user.name}"></span>
                    <span style="margin-left: 5px" th:text="${page.type}"></span>
                    <a style="margin-left: 5px" th:href="@{'/question/'+${page.outerId}}"><span th:text="${page.outerTitle}"></span></a>
                    <span style="float: right" th:text="${#dates.format(page.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                </div>
            </div>
            <!--分页栏-->
            <nav aria-label="Page navigation" style="float: right;">
                <ul class="pagination">
                    <li>
                        <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="Previous"
                           th:if="${pagination.showFirstPage}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(page=${pagination.page}-1)}" aria-label="Previous"
                           th:if="${pagination.showPrePage}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}"><a th:href="@{'/profile/'+${section}(page=${page})}"
                                                                th:text="${page}"></a></li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(page=${pagination.page}+1)}" aria-label="Next"
                           th:if="${pagination.showNextPage}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Next"
                           th:if="${pagination.showEndPage}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右边栏-->
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'}?'active list-group-item':'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}?'active list-group-item':'list-group-item'">
                    最新回复
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div style="position: absolute;bottom: 20px;padding: 10px 30%;color: #666;" th:insert="~{footer :: foot}"></div>
</div>
</body>
</html>